
.create-account{
    width: 90vw;
    max-width: 340px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.create__main-title{
    margin-top: 48px;
    width: 100%;
    text-align: left;
    margin-bottom:48px;
}

.create__main-title h2{
    font-family: 'Quicksand', sans-serif;
    font-size: var(--lg);
    font-weight: bold;
    color: black;
}

form{
    margin-top: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    justify-content: space-between;
}

form > div{
    display: flex;
    flex-direction: column;
}
label{
    font-family: 'Quicksand', sans-serif;
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 8px;
    color: black;
}

.input, .login-button{
    border: none;
    border-radius: 8px;
    background-color: var(--text-input-field);
    height: 44px;
    font-family: 'Quicksand', sans-serif;
    font-size: var(--md);
    font-weight: 300;
    color: var(--dark);
    padding: 8px;
    margin-bottom: 16px;
}
.login-button{
    background-color: var(--hospital-green);
    color: white;
    font-size: var(--lg);
    font-weight: 500;
    height: 56px;
    cursor: pointer;
    margin-bottom: 16px;
}

@media (min-width: 600px){
    .create__main-title img{
    display: none;
}

    form{
        justify-content: flex-start;
    }

    .create__main-title h2{
    margin-top: 4rem;
}

} 