      .email-sent{
            width: 90vw;
            max-width: 320px;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }
        .email__main-title{
            margin-top: 4rem;
            width: 100%;
            text-align: center;
            margin-bottom: 2.4rem;
        }
        .email__main-title img{
            width: 45%;
            margin-bottom: 48px;
        }
        .email__main-title h1{
            font-family: 'Quicksand', sans-serif;
            font-size: var(--lg);
            font-weight: bold;
            margin-bottom: 8px;
            color: black;
        }
        .email__main-title p{
            font-family: 'Quicksand', sans-serif;
            font-size: var(--md);
            color: var(--dark);
            font-weight: 300;
        }

        .email-sent-container{
            width: 140px;
            height: 140px;
            background-color: var(--text-input-field);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            margin-bottom: 4rem;
        }

        .email-sent-img{
            width: 60%;
        }

      .login-button{
            border: none;
            border-radius: 8px;
            background-color: var(--text-input-field);
            height: 36px;
            font-family: 'Quicksand', sans-serif;
            font-size: var(--sm);
            font-weight: bold;
            color: black;
            padding: 8px;
            margin-bottom: 32px;
        }
        .login-button{
            background-color: var(--hospital-green);
            color: white;
            font-size: var(--lg);
            font-weight: 500;
            height: 56px;
            cursor: pointer;
            width: 100%;
        }

        .resend{
            display: flex;
        }

        .resend *{
           
            font-family: 'Quicksand', sans-serif;
            font-size: var(--sm);
            font-weight: 500;
        }

        .resend a{
            text-decoration: none;
            color: var(--hospital-green);
            margin-left: 4px;
        }

        @media (min-width: 600px){
            .email__main-title img{
            display: none;
        }
        }