
.recovery-container{
    width: 90vw;
    max-width: 300px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10vh;
}
.recovery-title{
    margin-top: 4rem;
    width: 100%;
    text-align: center;
    margin-bottom: 4rem;
}
.recovery-title img{
    width: 45%;
    margin-bottom: 48px;
}
.recovery-title h1{
    font-family: 'Quicksand', sans-serif;
    font-size: var(--lg);
    font-weight: bold;
    margin-bottom: 8px;
    color: black;
}
.recovery-title p{
    font-family: 'Quicksand', sans-serif;
    font-size: var(--md);
    color: var(--dark);
    font-weight: 300;
}

.recovery-container form{
    display: flex;
    width: 100%;
    flex-direction: column;
   justify-content: flex-start;
}
.recovery-container label{
    font-family: 'Quicksand', sans-serif;
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 8px;
    color: black;
}

.input, .primary-button{
    border: none;
    border-radius: 8px;
    background-color: var(--text-input-field);
    height: 36px;
    font-family: 'Quicksand', sans-serif;
    font-size: var(--sm);
    font-weight: bold;
    color: black;
    padding: 8px;
    margin-bottom: 32px;
}
.primary-button{
    background-color: var(--hospital-green);
    color: white;
    font-size: var(--lg);
    font-weight: 500;
    height: 56px;
    cursor: pointer;
}

@media (min-width: 600px){
    .recovery-title img{
    display: none;
}
} 